*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    }
    
:root {
    --darkgray: #373A3C;
    --simply-red: #DC3545;
}

body {
font-family: 'Cabin', sans-serif;
color: #373A3C;
}

hr {
    border: 1px solid #373A3C;
    margin: 0;
}

nav{
    background-color:#373A3C;
    padding: 0 15px 0 15px;
}

.navbar-brand{
    font-family: lobster;
    font-size: 30pt;
}

.pizza-chicago h2{
    font-size: 25pt;
}
.pizza-chicago{
    padding: 0 28px 0 28px;
}
.titulo button{
    border-color: #DDDDDD;
    font-size: 10pt;
}

#carousel{
    padding: 0 28px 0 28px;
}
.carousel-indicators li{
    width: 12px !important;
    height: 12px !important; 
    border-radius: 50%;
    background-color: #000000 !important; 
}

.receta{
    padding: 0 28px 0 28px;
}

.receta p{
    font-size: 16pt;
}

.receta h5{
    font-size: 16pt;
}

.recetas-relacionadas{
    padding: 0 28px 0 28px;
}

.recetas-relacionadas h3{
    font-size: 25pt;
}

.card-title{
    font-size: 17pt;
}

.card-text{
    font-size: 16pt;
}

.suscribete{
 background-color: #DC3545;
 padding: 150px 28px 150px 28px;
}

.suscribete h4{
    font-size: 30pt;
}

.suscribete span{
    font-family: lobster;
}
.suscribete span, p{
    font-size: 20pt;
}

.suscribete button{
    height: 35pt;
    width: 190pt;
    font-size: 12pt;
}

footer{
    background-color:#373A3C;
    font-family: lobster;
}

@media (min-width: 992px){
    #hr-hero{
        display: none;
    }

    .pizza-chicago{
        margin-top: 24px;
        text-align: start !important; 
    }

    .pizza-chicago h2{
        font-size: 40pt;
    }

    .titulo button{
        font-size: 16pt;
    }

    .receta p{
        font-size: 20pt;
    }

    .receta h5{
        font-size: 20pt;
        text-decoration: underline;
    }

    .recetas-relacionadas h3{
        font-size: 40pt;
    }
    
    .card-title{
        font-size: 23pt;
    }
    
    .card-text{
        font-size: 16pt;
    }

    .suscribete h4{
        font-size: 40pt;
    }
    .suscribete span, p{
        font-size: 30pt;
    }
    
    .suscribete button{
        height: 40pt;
        width: 233pt;
        font-size: 16pt;
    }
}

.mystyle{
    display: none;
}

